/* You can add global styles to this file, and also import other style files */
@use "tailwindcss";

html, body {
  @apply h-full;
}

.btn {
  @apply p-2 border rounded-xs cursor-pointer;  
  color: white;
  background-color:chocolate;
  border-color: chocolate;

  &:hover {
    background-color:saddlebrown;
    border-color: saddlebrown;
  }

  &:active {
    color: orange;
  }
}

.highlight {
  color: chocolate;
}

.custom-blot {
  background-color: gainsboro;
}