/* You can add global styles to this file, and also import other style files */
@use "tailwindcss";

html,
body {
  @apply h-full;
}

.btn {
  @apply p-2 border rounded-xs cursor-pointer;
  color: #ffffff;
  background-color: #d2691e;
  border-color: #d2691e;

  &:hover {
    background-color: #8b4513;
    border-color: #8b4513;
  }

  &:active {
    color: #ffa500;
  }
}

.highlight {
  color: #d2691e;
}

.custom-blot {
  background-color: #dcdcdc;
}